body {
  font-family: "Roboto Mono", monospace;
}

h1,
h2,
p {
  color: rgb(135, 135, 135);
}
p {
  margin-top: 33px;
  font-size: 20px;
  margin-bottom: -10px;
}
h1 {
  color: black;
  font-size: 40px;
  margin-top: 10px;
}
h2 {
  font-size: 20px;
  margin-bottom: 33px;
}

ul {
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0;
}
li {
  list-style: none;

  padding: 0;

  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}
.icon {
  color: none;
}
.temperature {
  color: blue;
  font-size: 60px;
  font-weight: normal;
}

.units .active {
  margin-top: -10px;
  text-decoration: none;
  color: black;
}
.iconos {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 15px;
  font-size: 40px;
}
.monday {
  border: 1px solid #555;
  padding: 2px;
  margin-right: 20px;
}
.tuesday {
  border: 1px solid #555;
  padding: 2px;
  margin-right: 20px;
}
.wedday {
  border: 1px solid #555;
  padding: 2px;
  margin-right: 20px;
}
.thursday {
  border: 1px solid #555;
  padding: 2px;
  margin-right: 20px;
}
.friday {
  border: 1px solid #555;
  padding: 2px;
  margin-right: 20px;
}
.saturday {
  border: 1px solid #555;
  padding: 2px;
  margin-right: 20px;
}

.card {
  padding: 15px;
  margin-top: 33px;
  margin-right: 500px;
  background-color: rgb(255, 242, 242);
}
.open-source {
  font-size: 10px;
  margin-top: 5px;
  margin-left: 80px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
  text-decoration: none;
}
.overview {
  margin-left: 60px;
}

.fahrenheit {
  text-decoration: none;
  color: black;
}
